body {
    font-family: "Open Sans";
    overflow: auto;
    background-color: white; 

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.window {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 0;
}

.window h1, .window h2 {
    font-size: 3em;
    text-align: center;
}
    
.window form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.drag-handle {
    cursor: move;
}

.subtitle {
    font-size: 0.5em;
}

#canvas {
    width: 750px;
    height: 300px;
}

.controls a {
    color: black;
}

label span {
    font-weight: bold;
}

.header {
    padding-left: 20px; 
    background-color: #4B627F; 
    color: #fefefe;
    text-align: center;
    margin-bottom: 10px;
}

p.controls a:hover {
    color: black;
    text-decoration: underline;
}


/*
body {
    font-family: "Open Sans";
    overflow-y: scroll;
    background-color: #000;
}

h2 {
    font-family: "Open Sans";
}

.window {
    width: 1000px;
    min-height: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: #2F3234;
    color: white;
}

.window h3, .window h4, .window h5 {
    color: white;
}

.main * {
    z-index: 1;
}

#new-disk-button {
    margin: 180px 0px 0px 292px;
}

li.field label {
    width: 100px;
    text-align: right;
}

li.field-picker {
    float: left;
}

#canvas-div {
    position: fixed;
    z-index: -1;
}

#disk-name-heading {
	text-align: center;
}

.point {
    border-left: 1px solid white;
    height: 100%;
}

.circle {
    width: 10px;
    height: 100%;
    background-color: red;
    border-radius: 50%;
}

.line {
    position: relative;
    height: 2px;
    border-radius: 2px;
    background-color: red;
}
*/