body {
    font-family: "Open Sans";
    overflow: auto;
    background-color: white; 

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.window {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 0;
}

.window h1, .window h2 {
    font-size: 3em;
    text-align: center;
}
    
.window form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.drag-handle {
    cursor: move;
}

.subtitle {
    font-size: 0.5em;
}

#canvas {
    width: 750px;
    height: 300px;
}

.controls a {
    color: black;
}

label span {
    font-weight: bold;
}

.header {
    padding-left: 20px; 
    background-color: #4B627F; 
    color: #fefefe;
    text-align: center;
    margin-bottom: 10px;
}

p.controls a:hover {
    color: black;
    text-decoration: underline;
}

.list-inline {
    display: inline-block;
    padding-right: 15px;
}

h4 {
    margin-top: 20px;
}